@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base, primeng, app;
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeng/resources/themes/lara-dark-blue/theme.css";
@import "../node_modules/primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

// .p-carousel .p-carousel-indicators .p-carousel-indicator {
//   background-color: #e9ecef;
//   width: 1rem;
//   height: 1rem;
//   transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
//   border-radius: 50%;
// }

// .p-carousel .p-carousel-indicators .p-carousel-indicator .p-highlight {
//   background-color: #0b213f;
// }
